@using MB.GRLRestaurant.Web.Models.Customers;
@model IEnumerable<CustomerListViewModel>

@{
    ViewData["Title"] = "Customers";
}
<div class="container">
    <h1>Customers</h1>

    <p>
        <a class="btn btn-primary mt-2" asp-action="Create">Create New Customer</a>
    </p>
    <hr />
    <table class="table datatables mt-2">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => customer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.Age)
                </td>
                    <td>
                        <a class="text-decoration-none" asp-action="Edit" asp-route-id="@customer.Id" title="Edit">
                            <i class="fa fa-pen"></i>
                        </a>
                        <a class="text-decoration-none ms-2" asp-action="Details" asp-route-id="@customer.Id" title="Details">
                            <i class="fa fa-info-circle text-info"></i>
                        </a>
                        <a class="text-decoration-none ms-2 pointer" title="Delete" data-bs-toggle="modal" data-bs-target="#deleteModal_@customer.Id">
                            <i class="fa fa-trash text-danger"></i>
                        </a>

                        @* Delete Customer Modal *@
                        <div class="modal fade" id="deleteModal_@customer.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Customer</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h4>
                                            Are you sure you want to delete customer <span class="text-danger">@customer.FullName</span>?
                                        </h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <form asp-action="Delete">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                            <input type="hidden" name="Id" value="@customer.Id" />
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
            </tr>
            }
        </tbody>
    </table>
</div>