@using MB.GRLRestaurant.Web.Models.Ingredients;
@model IEnumerable<IngredientViewModel>

@{
    ViewData["Title"] = "Ingredients";
}

<div class="container">
    <h1>Ingredients</h1>

    <p>
        <a class="btn btn-primary mt-2" asp-action="Create">Add New Ingredient</a>
    </p>
    <table class="table datatables">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a class="text-decoration-none" asp-action="Edit" asp-route-id="@item.Id" title="Edit">
                            <i class="fa fa-pen"></i>
                        </a>
                        <a class="text-decoration-none ms-2" asp-action="Details" asp-route-id="@item.Id" title="Details">
                            <i class="fa fa-info-circle text-info"></i>
                        </a>
                        <a class="text-decoration-none ms-2" asp-action="Delete" asp-route-id="@item.Id" title="Delete">
                            <i class="fa fa-trash text-danger"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>